/* Gemensam stilmall för alla flexcontainer */
.flex-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.logga
{
	flex-basis: 70vw;
	text-align: center;
}
/* flytta sökrutan till höger */
.sokruta
{
	flex-grow: 1;
}

.header {
    display: flex;
    background-color: #A7A5A5;
    padding: 20px;
	 
}

.BF{
	text-align:left;
	text-color: red;
	padding:10px;

}

.title-section {
    background-color: beige;
	text-align: center;
	font-size: 2em;
	font-family: Arial;
	
}

.kontorbild {
    display: flex;
    justify-content: center; /* Centrera bilden horisontellt */
}

li
{
	padding: 10px;
}

.menu {
    background-color: #A7A5A5;
}

.content {
    background-color: beige;
}

.offer-about-container {
    display: flex;
}

.offer-section, .about-us-section {
    flex: 1;
    background-color: beige;
    padding: 20px;
}

.navigation {
    background-color: #A7A5A5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meny {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 60px; /* avståndet ökar inte*/
	margin-left: 20;
	margin-right: 20;
}


#meny {
    list-style: none;
    padding: 10;
}

#meny li {
    margin-bottom: 10px;
}

#meny a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
}


.footer {
    display: flex;
    background-color: #A7A5A5;
    padding: 20px;
}

.footer-box {
    flex: 1;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.footer-box h2 {
    font-size: 1em;
    margin: 0;
}
/* kontakt sida */
.worker {
    display: flex;
}

.karl, .lisa, .edwin {
    flex: 1;
    background-color: beige;
    padding: 5px;
}
/* media sida */

.video-container {
    display: flex;
    justify-content: center; /* Centrera videon horisontellt */
    align-items: center; /* Centrera videon vertikalt */
    height: 300px; /* Justera höjden efter behov */
}


/* produktsida */

.tjanster {
    display: flex;
    flex-direction: column;
}

.service-container {
    display: flex;
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table td {
    height: 0px; /* Ange den önskade höjden för cellerna */
    padding: 10px; /* Anpassa övriga cellmått */
}
